<h1>Places</h1>
<hr>
<form name="placeForm" novalidate ng-submit="addPlace()">
	<div class="form-group" ng-class="{'has-error': placeForm.title.$invalid && placeForm.title.$dirty}">
		<input type="text" class="form-control focus" name="title"
		placeholder="Title" autocomplete="off" required
		ng-model="newPlace.title">
		<span class="has-error control-label" ng-show="placeForm.title.$invalid && placeForm.title.$dirty">
			Title is required.
		</span>
	</div>

	<div class="form-group" ng-class="{'has-error': placeForm.address.$invalid && placeForm.address.$dirty}">
		<input type="text" class="form-control" name="address"
		placeholder="Address" autocomplete="off" required
		ng-model="newPlace.address">
		<span class="has-error control-label" ng-show="placeForm.address.$invalid && placeForm.address.$dirty">
			Address is required.
		</span>
	</div>

	<button class="btn btn-default" ng-disabled="placeForm.$invalid">Add</button>
</form>
<hr>
<div class="list-group">
	<a class="list-group-item" ng-repeat="place in places">{{ place.title }}&nbsp;
	<i class="glyphicon glyphicon-remove pull-right" ng-click="removePlace(place)"></i></a>
</div>
